:root {
    --white: #dcdfdd;
    --pink: #BFA18F;
    --yellow: #BF926B;
    --orange: #9f6441;
    --red: #73321A;
    --darkestred: #401201;
    font-family: "Kanit", sans-serif;
}

.contact-page {
    color: var(--white);
    background: url('../SandStone.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px; 
}

.hero-container {
    width: 100vw !important; /* Set width to viewport width */
    background-color: var(--darkestred);
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 50px !important;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Match shadow with the rest of the boxes */
}

.contact-header {
    font-size: 48px;
    font-family: 'Kaushan Script';

    color: var(--white);
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    gap: 20px; /* Add gap to separate the boxes */
}

.reach-out {
    flex: 1;
    background: var(--yellow); 
    padding: 70px 20px;
    border-radius: 10px;
    font-size: 34px;
    color: white;
    font-weight: 600;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Updated shadow to match the submit button */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-container {
    flex: 1;
    background: var(--white);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-form {
    width: 100%;
}

.contact-form .ant-form-item {
    margin-bottom: 20px;
}

.contact-form .ant-form-item-label > label {
    color: var(--darkestred);
    font-size: 20px;
    font-weight: 600;
}

.contact-form .ant-input,
.contact-form .ant-input-textarea {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid var(--pink);
    color: var(--darkestred);
}

.contact-form .ant-input::placeholder,
.contact-form .ant-input-textarea::placeholder {
    color: var(--pink);
}

.contact-form .ant-input-textarea {
    min-height: 200px; /* Increased height for the message box */
}

.contact-form .ant-btn-primary {
    background-color: var(--yellow);
    color: var(--darkestred);
    font-size: 20px; /* Increased font size */
    font-weight: 600;
    height: 50px;
    border-color: var(--yellow);
    width: 100%;
    border-radius: 25px;
}

.contact-form .ant-btn-primary:hover {
    background-color: #73321A;
    border-color: #73321A;
    color: var(--white);
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        width: 90%;
    }

    .hero-container {
        width: 100vw !important; /* Set width to viewport width */
        background-color: var(--darkestred);
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 15px !important;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Match shadow with the rest of the boxes */
    }

    .contact-header {
        font-size: 48px;
        color: var(white);
        margin-top: 20px;
    }

    .reach-out, .form-container {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .reach-out {
        margin-bottom: 20px;
        padding: 20px;
        font-size: 20px;
    }

    .form-container {
        padding: 20px;
    }

    .contact-form .ant-form-item-label > label {
        font-size: 18px;
    }

    .contact-form .ant-btn-primary {
        font-size: 18px;
    }
}

/* Thank You Message Styling */
.thank-you-message {
    font-size: 24px;
    color: var(--darkestred);
    font-weight: 600;
    text-align: center;
}
