:root {
  --white: #dcdfdd;
  --pink: #BFA18F;
  --yellow: #BF926B;
  --orange: #BfB6AE;
  --red: #73321A;
  --darkestred: #401201;
  font-family: "Kanit", sans-serif;
}

#nav-wrap {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background: rgba(92, 57, 50, 0.5); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Adjusted padding for better spacing */
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.nav li {
  list-style: none;
  margin: 0 15px;
}

.nav a {
  color: var(--white);
  text-decoration: none;
  font-size: 34px;
  font-weight: 600;
  padding-bottom: 5px;
}

.nav li.current a,
.nav li a:hover {
  color: var(--yellow);
  text-decoration: underline;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  color: var(--white);
  font-size: 28px;
  margin-left: 20px;
}

.social-icons a:hover {
  color: var(--yellow);
}

/* Mobile Styles */
@media (max-width: 768px) {
  .nav {
    display: none; /* Hide nav by default on mobile */
  }

  .hamburger {
    display: block;
    font-size: 28px;
    cursor: pointer;
  }

  .modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background-color: var(--darkestred);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }

  .modal-content a {
    display: block;
    color: var(--white);
    text-decoration: none;
    font-size: 34px;
    font-weight: 600;
    margin: 15px 0;
  }

  .modal-content a:hover {
    color: var(--yellow);
    text-decoration: underline;
  }

  .modal-content .social-icons {
    margin-top: 20px;
  }
}

@media (min-width: 769px) {
  .hamburger {
    display: none; /* Hide hamburger on desktop */
  }
}
