/* src/pages/Portfolio.css */

:root {
    --white:#dcdfdd;
    --green: #003f22;
    --teal: #00a69c;
    --orange: #b55f08;
    --red: #8b1602;
    --darkestred: #63250e;
    --cloudorange: #ffdfb6;
    --cloudorange-rgb: 255, 223, 182; /* RGB equivalent to above*/
    --greyblue: #70695e;

    font-family: "kanit";
  
  }

.portfolio-page {
    text-align: center;
    color: white;
    background: url('../image-1.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 90px; 
  }
  
  .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1400px;
    margin: auto;
  }
  
  .project-card {
    background: rgba(255, 223, 182, 0.7); 
    border: none;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card-header {
    background: var(--greyblue); 
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  
  .project-title {
    color: whitesmoke;
    text-decoration: none;
  }
  
  .project-title:hover {
    color: #c7af97; 
  }
  
  .image-container {
    position: relative;
  }
  
  .project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .github-icon-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .github-icon {
    color: #56331e;
    font-size: 4rem;
  }
  
  .github-icon:hover {
    color: #c7af97; /* Change color on hover */
  }
  
  .project-subtitle-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.7); /* Slightly transparent background */
    padding: 5px 0;
    text-align: center;
  }
  
  .project-subtitle {
    color: #ac6d4b;
    font-size: 1.2rem;
    font-weight: 700;
  }
  