:root {
  --white: #dcdfdd;
  --pink: #BFA18F;
  --yellow: #BF926B;
  --orange: #9f6441;
  --red: #73321A;
  --darkestred: #401201;
  font-family: "Kanit", sans-serif;
}

.portfolio-page {
  text-align: center;
  color: white;
  background: url('../Sand2.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  align-items: center;
  width: 100vw; 
  overflow-x: hidden; 
}

.hero-container-work {
  width: 100vw !important; 
  background-color: var(--darkestred);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.portfolio-header {
  font-size: 48px;
  color: var(--white);
  font-family: 'Kaushan Script';

}

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

.project-card {
  background: var(--darkestred);
  border: none;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card-header {
  background: #9f6441;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.project-title {
  color: whitesmoke;
  text-decoration: none;
}

.project-title:hover {
  color: #c7af97;
}

.image-container {
  position: relative;
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.github-icon-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.github-icon {
  color: #56331e;
  font-size: 4rem;
  margin-bottom: 10px;
}

.project-subtitle-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.7); 
  padding: 5px 0;
  text-align: center;
}

.project-subtitle {
  color: var(--darkestred);
  font-size: 1.3rem;
  font-weight: 700;
}

.project-card:hover .github-icon-container {
  opacity: 1;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .portfolio-page {
    padding-top: 70px; 
    width: 100vw; 
  }

  .hero-container-work {
    height: 100px;
    width: 100vw !important;
    margin-top: -20px !important; 
  }

  .portfolio-header {
    font-size: 46px; 
  }

  .portfolio-content {
    grid-template-columns: 1fr; 
    gap: 15px; 
    padding: 10px; 
  }

  .project-card {
    padding: 10px;
    width: 95vw; 
  }

  .card-header {
    font-size: 1.2rem; 
    padding: 8px; /* Adjust padding for mobile */
  }

  .project-title {
    font-size: 1.2rem; /* Adjust font size for mobile */
  }

  .project-image {
    height: 150px; /* Adjust image height for mobile */
  }

  .github-icon {
    font-size: 3rem; /* Adjust icon size for mobile */
  }

  .project-subtitle {
    font-size: 1rem; /* Adjust subtitle size for mobile */
  }

  .github-icon-container {
    opacity: 1 !important; /* Always show GitHub icon on mobile */
  }
}
