:root {
  --white:#dcdfdd;
  --green: #003f22;
  --teal: #00a69c;
  --orange: #b55f08;
  --red: #8b1602;
  --darkestred: #63250e;
  font-family: "kanit";

}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected a {
  color: orange; 
}

/*footer*/
.footer {
  text-align: center;
  background: var(--green); 
  color: #fff; 
  padding: 24px 50px;
}

.footer .social-icons a {
  margin: 0 8px;
  color: #fff; 
  font-size: 34px; 
}

/* Hover state for icons */
.footer .social-icons a:hover {
  color: var(--teal); 
}

/*contact page*/
.contact-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.contact-form {
  max-width: 500px;
  width: 100%;
  background: var(--teal);
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* ant design contact form */
.ant-btn-primary {
  background-color: var(--green);
  border-color: var(--green);
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background-color: var(--teal);
  border-color: var(--teal);
}

.ant-input,
.ant-input-affix-wrapper {
  border-color: var(--teal);
}

.ant-input:focus,
.ant-input-affix-wrapper:focus,
.ant-input:hover,
.ant-input-affix-wrapper:hover {
  border-color: var(--orange);
  box-shadow: none;
}

.ant-form-item-label label {
  color: var(--green);
}

/* portfolio */
/* .portfolio-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px; 
  padding: 16px; 
} */

/* .project-card {
  width: calc(33.333% - 16px); 
  overflow: hidden; 
  display: flex; 
  flex-direction: column; 
  margin-bottom: 0;
}

/* @media (max-width: 1200px) {
  .project-card {
    width: calc(50% - 16px); /* 2 cards per row */
 

/*@media (max-width: 768px) {
  .project-card {
    width: calc(100% - 16px); /* 1 card per row */
  
/* 
.image-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%; 
  
} */

/* .project-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/*.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background: rgba(0, 63, 34, 0.4);
    color: white;
  padding: 20px;
  z-index: 2;
  text-align: center; */


/*.project-title, .github-icon, .project-subtitle {
  z-index: 2;
  position: relative;
  width: 100%; 
} */

/* .project-title {
  font-size: 2.4rem; 
  margin-bottom: 0.5em; 
  color: white; 
}

.github-icon {
  font-size: 34px;
  color: white; 
  margin-bottom: 2em; 
  transition: color 0.1s ease;
} */

/* .github-icon:hover {
  color: #517ee0;
} */

/* .project-subtitle {
  display: none;
  font-size: 1.1rem;
  color: white; 
  position: absolute;
  bottom: 20px; 
} */

/* @media (max-width: 1200px) {
  .project-title {
    font-size: 2rem; 
  }
} */
/* 
@media (max-width: 768px) {
  .project-title {
    font-size: 1.6rem; 
  }
  .github-icon {
    font-size: 24px; 
  }
  .project-subtitle {
    font-size: 1rem; 
  }
} */
/* 
.image-container:hover .overlay {
  background: rgba(181, 95, 8, 0.9); 
}

.image-container:hover .project-subtitle {
  display: block;
} */

/*home*/
.home-content {
  margin: 5px 5px;
  font-size: 24px;
  overflow: 'initial';
  color: white; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  background-color: var(--darkestred); 
  text-align: center; 
  padding: 20px; 
}